<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
<title>{% block htmltitle %}TO-DO LIST{% endblock %}</title>
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/style.css" />
</head>
<body>
    <div id="wrapper">
        <div id="header">
            <p><img src="{{ STATIC_URL }}img/todologo.png" width="100"/>&nbsp;&nbsp;&nbsp;TO-DO LIST</p>
        </div>
        <div id="container">
            <div id="navigation">
                {% block nav %}
                {% endblock nav %}
            </div>
            <div id="leftcolumn">
                    <div id="menu">
                        <ul>
                            {% block menu %}
                            {% endblock menu %}
                        </ul>
                    </div>

            </div>
            <div id="content">
                <p> {% block main %}
                    {% endblock main %}

                </p>
           </div>
       </div>
        <div id="footer">
                <p align="center"><a href="{% url admin:index %}">Ingreso Administraci&oacute;n</a> | <strong>Desarrollado por:</strong> <a href="http://www.github.com/marcelozarate">Marcelo Zarate</a> - usando Django Framework</p>
        </div>
    </div>
</body>
</html>
