{% extends "base.html" %}

{% block htmltitle %}{{ block.super }} | Crear una tarea{% endblock %}

{% block nav %}
    <p><a href="{% url home %}">Inicio</a> ({{ user }}) -> <a href="{% url list %}">Mis tareas</a> -> Crear una tarea</p>
{% endblock nav %}

{% block menu %}
    <li><a href="{% url home %}">Inicio</a></li>
    <li><a href="{% url list-category %}">Ver mis categor&iacute;as</a></li>
    <li><a href="{% url list %}">Ver mis tareas</a></li>
    <li><a href="{% url logout %}">Cerrar sesi&oacute;n</a></li>
{% endblock menu %}

{% block main %}
    <h1>Crear una tarea</h1>
    <form action="" method="post">
        {% csrf_token %}
            <table>
                {{ form.as_table }}
            </table>
<!--            {{ form.title.errors }}
            {{ form.title.label_tag }}: {{ form.title }}
            {{ form.description.errors }}
            {{ form.description.label_tag }}: {{ form.description }}
            {{ form.category.errors }}
            {{ form.category.label_tag }}: {{ form.category }}
            {{ form.owner.errors }}
            {{ form.owner.label_tag }}: {{ form.owner }}
-->
        <input type="submit" value="Crear" />
    </form>
{% endblock %}
