{% extends "base.html" %}

{% block htmltitle %}{{ block.super }} | Editar categor&iacute;a{% endblock %}

{% block nav %}
    <p><a href="{% url home %}">Inicio</a> ({{ user }}) ->
    <a href="{% url list %}">Mis categor&iacute;as</a> ->
    Editar categor&iacute;a</p>
{% endblock nav %}

{% block menu %}
    <li><a href="{% url home %}">Inicio</a></li>
    <li><a href="{% url list-category %}">Ver mis categor&iacute;as</a></li>
    <li><a href="{% url list %}">Ver mis tareas</a></li>
    <li><a href="{% url logout %}">Cerrar sesi&oacute;n</a></li>
{% endblock menu %}


{% block main %}
    <h1>Editar categor&iacute;a</h1>
    <form action="" method="post">
        {% csrf_token %}
            <table>
                {{ form.as_table }}
            </table>
        <input type="submit" value="Guardar cambios" />
    </form>
{% endblock %}
