{% extends "base.html" %}

{% block htmltitle %}{{ block.super }} | Editar tarea{% endblock %}

{% block nav %}
    <p><a href="{% url home %}">Inicio</a> ({{ user }}) ->
    <a href="{% url list %}">Mis tareas</a> ->
    Editar tarea</p>
{% endblock nav %}

{% block menu %}
    <li><a href="{% url home %}">Inicio</a></li>
    <li><a href="{% url list %}">Ver mis tareas</a></li>
    <li><a href="{% url logout %}">Cerrar sesi&oacute;n</a></li>
{% endblock menu %}


{% block main %}
    <h1>Editar tarea</h1>
    <form action="" method="post">
        {% csrf_token %}
            <table>
                {{ form.as_table }}
            </table>
        <input type="submit" value="Editar" />
    </form>
{% endblock %}
