{% extends 'base.html' %}

{% block htmltitle %}
{{ block.super }} | Inicio
{% endblock htmltitle %}


{% block nav %}
    <p>Inicio ({{user}})</p>
{% endblock nav %}

{% block menu %}
    <li>Inicio</li>
    <li><a href="{% url list %}">Ver mis tareas</a></li>
    <li><a href="{% url logout %}">Cerrar sesi&oacute;n</a></li>
{% endblock menu %}

{% block main %}

    {% for tarea in task %}
        <h4><a href="{% url task-detail tarea.id %}">{{ tarea.title }}</a></h4>
    {% endfor %}

{% endblock main %}
