{% extends 'base.html' %}

{% block htmltitle %}
{{ block.super }} | Todos las tareas
{% endblock htmltitle %}


{% block nav %}
    <p><a href="{% url home %}">Inicio</a> ({{ user }}) -> Mis tareas</p>
{% endblock nav %}

{% block menu %}
    <li><a href="{% url home %}">Inicio</a></li>
    <li>Ver mis tareas</li>
    <li><a href="{% url logout %}">Cerrar sesi&oacute;n</a></li>
{% endblock menu %}

{% block main %}

{% if mensaje %}
    <div class="mensaje">{{ mensaje }}</div>
{% endif %}

    Agregar tarea
    {% for tarea in task %}
        <h2><a href="{% url task-detail tarea.id %}">{{ tarea.title }}</a> -
        <a href="">Modificar</a> -
        <a href="{% url delete-task tarea.id %}">Eliminar</a></h2>
    {% endfor %}

{% endblock main %}
