{% extends 'base.html' %}

{% block htmltitle %}
{{ block.super }} | Todos las categor&iacute;as
{% endblock htmltitle %}


{% block nav %}
    <p><a href="{% url home %}">Inicio</a> ({{ user }}) -> Mis categor&iacute;as</p>
{% endblock nav %}

{% block menu %}
    <li><a href="{% url home %}">Inicio</a></li>
    <li>Ver mis categor&iacute;as</li>
    <li><a href="{% url list %}">Ver mis tareas</a></li>
    <li><a href="{% url logout %}">Cerrar sesi&oacute;n</a></li>
{% endblock menu %}

{% block main %}

{% if mensaje %}
    <div class="mensaje">{{ mensaje }}</div>
{% endif %}

    <a href="{% url create-category %}">Agregar categor&iacute;a</a>
    <table>
        <tr>
            <td>Categor&iacute;a</td>
            <td>Descripci&oacute;n</td>
            <td>Modificar</td>
            <td>Eliminar</td>
        </tr>
    {% for categoria in category %}
        <tr>
            <td>{{ categoria.name }}</a></td>
            <td>{{ categoria.description }}</a></td>
            <td><a href="{% url edit-category categoria.id %}">Modificar</a></td>
            <td><a href="{% url delete-category categoria.id %}">Eliminar</a></td>
        </tr>
    {% endfor %}
    </table>

{% endblock main %}
