{% extends 'base.html' %}

{% block htmltitle %}{{ block.super }} | {{ task.title }}{% endblock %}

{% block nav %}
    <p><a href="{% url home %}">Inicio</a> ({{user}}) -> <a href="{% url list %}">Mis tareas</a> -> {{ task.title }}</p>
{% endblock nav %}

{% block menu %}
    <li><a href="{% url home %}">Inicio</a></li>
    <li><a href="{% url list-category %}">Ver mis categor&iacute;as</a></li>
    <li><a href="{% url list %}">Ver mis tareas</a></li>
    <li><a href="{% url logout %}">Cerrar sesi&oacute;n</a></li>
{% endblock menu %}

{% block main %}
    <h3>{{ task.title }}</h3>
    <h5>{{ task.slug }}</h5>
    <div><i>{{ task.description|linebreaks }}</i></div>
    <div><b>Categor&iacute;a:</b> {{ task.category }}</div>
    <div><b>Estado:</b> {% if task.state == 'P' %}
                        Pendiente
                    {% endif %}
                    {% if task.state == 'C' %}
                        Completada
                    {% endif %}
                    {% if task.state == 'X' %}
                        Cancelada
                    {% endif %}
    </div>
    <div><b>Fecha de Creaci&oacute;n:</b> {{ task.creation_date }}</div>
    <div><b>Fecha de l&iacute;mite:</b> {{ task.limit_date }}</div>
    <div><b>Fecha de fin:</b> {% if task.completed_date == None %}
                        A&uacute;n no especificada.
                        {% else %}
                        {{ task.completed_date }}
                        {% endif %}
    </div>
    <div><b>Usuario:</b> {{ task.owner }}</div>
{% endblock %}
