{% extends 'base.html' %}

{% block htmltitle %}{{ block.super }} | {{ task.title }}{% endblock %}

{% block nav %}
    <p><a href="{% url home %}">Inicio</a> ({{user}}) -> <a href="{% url list %}">Mis tareas</a> -> {{ task.title }}</p>
{% endblock nav %}

{% block menu %}
    <li><a href="{% url home %}">Inicio</a></li>
    <li><a href="{% url list-category %}">Ver mis categor&iacute;as</a></li>
    <li><a href="{% url list %}">Ver mis tareas</a></li>
    <li><a href="{% url logout %}">Cerrar sesi&oacute;n</a></li>
{% endblock menu %}

{% block main %}
    <h3>{{ task.title }}</h3>
    <div>{{ task.description|linebreaks }}</div>
{% endblock %}
